
body{font-family:'Vazir FD',sans-serif;background:#f5f7fa;margin:0}
.center{display:flex;justify-content:center;align-items:center;height:100vh}
.login-box{background:white;padding:25px;border-radius:12px;box-shadow:0 4px 20px rgba(0,0,0,.1);display:flex;flex-direction:column;gap:10px;width:300px}
.top{display:flex;justify-content:space-between;padding:10px;background:white;align-items:center}
.container{padding:20px}
.months{display:grid;grid-template-columns:repeat(4,1fr);gap:12px}
.month-card{background:white;padding:20px;border-radius:10px;text-align:center;box-shadow:0 2px 10px rgba(0,0,0,.08);cursor:pointer}
.days{display:grid;grid-template-columns:repeat(7,1fr);gap:8px;padding:20px}
.day-card{background:white;padding:20px;text-align:center;border-radius:8px;box-shadow:0 2px 6px rgba(0,0,0,.05);cursor:pointer}
